:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --full-black-color: #000000;
    --accent-secondary-color : #188CE8;
}

*, ::after ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin-bottom: 0;
    margin-top: 0;
    padding:0;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size:14px;
    background-color: var(--primary-white-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-white-color) ;
}

.nav>.nav-container {
    display: flex;
    padding: 0px;

}

.nav>.nav-container>.item:not(:last-child) {
    margin-right: 50px;
}


section {
    display: block;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header>.container {
    display: flex;
    justify-content: space-between; 
}

.head, .head-1 {
    background-color: var(--primary-white-color);
}

.order {
    display: flex;
    flex-direction: column;

    background-color: var(--footer-bg-color);
}

.feature {
    background-color: var(--primary-white-color);
    
}

.osobennosti-list {
    display: flex;
    justify-content:space-between;
}

.osobennosti-list :not(:last-child){
margin-right: 30px;
}
.delaem {
    background-color: gray;
}

.team-container {
    background-color: var(--secondary-bg-color);
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    outline: 0;
    outline-offset: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.header-container {
    display: flex;
    align-items: center;
}


.logo-container {
    display: flex;
}


.logo-1-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    margin-right: 93px;

    letter-spacing: 0.03em;

    color: var(--full-black-color);
}

.logo-1-2 {
    color: var(--accent-color);
    
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover {
    text-decoration: none;
    color: var(--accent-color);
}

.nav-links {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.nav-links:hover, .nav-links:focus {
    color: var(--accent-color);
}

.nav-links.current {
    color: var(--accent-color);
}



.nav-container {
    display: flex;
}



.studio {
}

.portfolio {
}

.contacts {
}



.contacts-container {
    display: flex;
    align-items: center;
}

.contacts-container>.item:not(:last-child) {
    padding-left: 0px;
    margin-right: 50px;
}

.contacts-container .mail-tel-links {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}
.mail-tel-links:hover {
    color: var(--accent-color);
}

.mail {
}

.tel {
}

.main-content {
    padding: 200px 0px;
    background: var(--footer-bg-color);
}

.buisness {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.button-order {
    margin-right:auto;
    margin-left:auto;

    width: 216px;
    height: 50px;
    font-family: inherit;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, .015);
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.button-order:hover {
    cursor:pointer;
    background: var(--accent-secondary-color);
}

.button-order:active {
    cursor: pointer;
    background: var(--accent-secondary-color);
}

.main-1 {
    background-color: var(--primary-white-color);
    padding: 94px 0px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
    justify-content: space-between;
}

.main-1>.container>.list {
    display: flex;
}

.main-1>.container>.list .osobennosti:not(:last-child) {
    margin-right:30px;
}

.main-1 .list {

}


.hide {
    color: var(--primary-white-color);
}

.osobennosti {
    width: 270px;

}

.uvaga {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text1 {
    
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.punct {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text2 {
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.plan {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text3 {
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.tech {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text4 {
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.main-2 {
    background-color: var(--primary-white-color);
    padding-bottom: 94px;
}

.photo-list {
    display: flex;
    justify-content: center;
}

.photo-list :not(:last-child) {
    margin-right:30px;
}

.chto-delaem {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.photos {
    display: block;
}
.main-3 {
    background: var(--secondary-bg-color);
    padding: 94px 0px;
}

.cards {
    display: flex;
    justify-content: space-around;
}




.our-team-text {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    white-space: nowrap;

    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.team {
}

.team-1 {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
}

.team-2 {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
}

.team-3 {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
}

.team-4 {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
}


.igor {
}

.igor-small {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.igor-work {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.olga {
}

.olga-small {
    margin-top: 30px;

    font-weight: 500px;
    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.olga-work {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.kolya {
}

.kolya-small {
    margin-top: 30px;

    font-weight: 500px;
    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.kolya-work {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.misha {
}

.misha-small {
    margin-top: 30px;

    font-weight: 500px;
    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.misha-work {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.main-footer {
    background: var(--footer-bg-color);
}


.footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container-second {
    display: flex;
    flex-direction: column;
}

.footer-container-second :not(:last-child) {
    margin-bottom: 9px;
}


.logo-2-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    margin-bottom: 20px;

    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.logo-2-2 {
    color: var(--accent-color);
}

.address {
    font-style: normal;
    
}

.address-kiyv {
    line-height: 1.714;
    text-decoration: none;

    letter-spacing: 0.03em;

    color: var(--primary-white-color);
}

.footer-links {
    line-height: 1.714;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    
    color: var(--footer-text-color);
}

.footer-links:hover {
    color: var(--accent-color);
}




/*   P   O   R   T   F   O   L   I   O   */

.main-portfolio {

}


.hero-portfolio {
    padding: 94px 0px;
    background-color: var(--primary-white-color);
}
.general-filters {
    padding:0;
    margin:0;
    background: rgba(245, 244, 250, 1);
    border-radius: 4px;
    color: var(--primary-text-color);
    border: 4px solid rgba(255, 255, 255, .015);
}

.general-filters:hover {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color:var(--primary-white-color);
    cursor:pointer;
}

.general-filters:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.text-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    padding:0;
    margin:0px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}

.text-filter:hover {
    color: var(--primary-white-color);
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.project-ul {
    display: flex;
    flex-wrap: wrap;
}

.project-ul>.item {
    display: flex;
}

.project .item:nth-child(3) {
    flex-wrap: wrap;
    margin-right:30px;
}

.item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
}

.filter-1 {
    padding: 6px 25px;
}
.filter-2 {
    padding: 6px 22px;
}
.filter-3 {
    padding: 6px 22px;
}
.filter-4 {
    padding: 6px 22px;
}
.filter-5 {
    padding: 6px 22px;
}

.text-button-1 {
    margin:0;
}

.text-button-2 {
    margin: 0;
}

.text-button-3 {
    margin: 0;
}

.text-button-4 {
    margin: 0;
}

.text-button-5 {
    margin: 0;
}


.project-card {
    box-sizing: border-box;
    background: var(--primary-white-color);
    border: 1px solid #EEEEEE;
}

.project-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project-card:not(:nth-child(3n + 3)) {
    margin-right: 30px;
}

.hero-portfolio>.container>.project-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-ul>.item {
    margin-right: 20px ;
}

.box-link {
    text-decoration: none;
}

.project-1 {

}

.project-2 {

}

.project-3 {

}

.project-4 {

}

.project-5 {

}

.project-6 {

}

.project-7 {

}

.project-8 {

}

.project-9 {

}

.project-text-general {
    padding: 20px 24px;
}

.general-projects-text {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom:4px;
    
    color: var(--primary-text-color);
}


.general-projects-description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
        
    color: var(--secondary-text-color);
}

.footer-portfolio {
    background: var(--footer-bg-color);
}





.footer-studio {
    background: var(--footer-bg-color);
}

.footer-contacts {
    background: var(--footer-bg-color);
}